body {
    margin: 0;
    background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    border: 1px solid black;
}

.calculator > button {
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border: 1px solid grey;
    background-color: white;
}

.calculator > button:hover {
    color: white;
    background-color: rgba(67, 73, 73, 0.849);
}

.output {
    grid-column: 1 / -1;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-op {
    color: white;
}

.output .current-op {
    color: white;
    font-size: 2.5rem;
}

.span-2 {
    grid-column: span 2;
}